</div> <!-- .site-content -->

<footer class="site-footer l-constrained">
    <p>Developed by <a href="http://tomoakley.me">Tom Oakley</a>. I'd love you forever if you <a href="/donate">bought me a cup of coffee</a>!</p>
</footer>
