<h1 class="content-heading">New Quote</h1>
<p>You can add a Bible verse which you find inspiring, interesting, amazing, etc. Or you can add a quote from someone, who said something related to the Bible which you found interesting.</p>               
<%= render 'form' %>

<%= link_to 'Back', quotes_path, {class: "fa fa-chevron-left back-btn"} %>
