/* ==========================================================================
   Header
   ========================================================================== */

.dropdown-container {
    &.is-active {
        background: #444;
        border-radius: 5px 5px 0 0;
        a {
          color: white;
        }
        > .dropdown-menu {
            visibility: visible;
            opacity: 1;
        }
    }
    .dropdown-menu {
        position: absolute;
        background: white;
        visibility: hidden;
        opacity: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        border: solid thin #444;
        border-radius: 0 5px 5px 5px;
        transition: 0.2s ease all;
        li {
            cursor: pointer;
            font-size: 14px;
            font-size: 1.4rem;
            transition: all 0.2s ease;
            &:last-child {
                border-bottom-width: 0;
            }
            &:hover {
              background: #444;
              a {
                color: #fff;
              }
            }
        }
        a {
            color: #444;
            text-decoration: none;
            font-weight: bold;
            padding: 5px 15px;
            display: block;
            transition: all 0.2s ease;
        }
    }
}

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-bottom: solid thin #ccc;
    background: white;
    .site-branding {
        width:192px;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        @media screen and (min-width: 680px) {
            float: left;
            margin: 0;
        }
        .site-logo {
            display: inline-block;
            width: 50px;
        }
        .site-title {
            display: inline-block;
            color: #444;
            font-weight: bold;
            font-size: 20px;
            font-size: 2rem;
            margin-left: 5px;
        }
    }
    .page-title {
        display: inline-block;
        margin: 7px 0 0;
        font-size: 24px;
    }
    .navbar-btns {
        float: right;
        margin: 3px 0 0;
        list-style: none;
        > li {
          float: left;
          margin-left: 5px;
          &:first-child {
            margin-left: 0;
          }
        }
    }
    .nav-btn {
        text-decoration: none;
        padding: 7px;
        color: #444;
        border-radius: 5px;
        font-weight: bold;
        display: block;
        .fa {
            display: block;
            font-size: 30px;
            font-size: 3rem;
        }
        &.active {
            color:#D50021;
        }
    }
}
