a[class$=-btn] {
    color: #444;
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s ease;
    &:before {
        font-size: 22px;
        font-size: 2.2rem;
        font-weight: normal;
        padding-right: 3px;
        display: inline-block;
        line-height: 0.4;
    }
    &:hover {
        background: #444;
        color: white;
    }
}
