<h1 class="page-heading">About</h1>
<p>I made this because I can never remember Bible verses at the right time. I read them, think how amazing, inspiring etc it is, and then when I need a week later, I can't remember where it was or what it said. So I made this so that I can jot it down and then come back to it when I need it.</p>
<p>However, it's not quite finished; for more info, read the <a href="/development">Development page</a>. In short, I want to add categories, so a suitable verse can be quickly found, user accounts, so that I can save or 'like' a post and I can get back to it easily, and also potentially see what my friends have added and liked.</p>
<p>Lastly, building this, while not actually costing anything (and I enjoy building it), does take up time and effort which could be spent working for my <a href="http://5lin.es">web design agency</a> or doing coursework for my University degree. Also in the future I may have to pay for hosting (this is currently hosted on Heroku's free tier which has 750 hours free, but that won't last forever). So if you feel that it's on your heart to donate a little money to help me keep it running, that would be absolutely amazing. Visit the <a href="/donate">Donate page</a> for more info. Thank you!</p>

<p class="strong about-cta">Now, go and add some amazing verse and inspire us all!</p>
