<h1 class="page-heading">Development</h1>
BibleQuotes is only on version 0.1 - Public Alpha, so we have a long way to go yet. This is essentially the Minimum Viable Product (MVP) - the very minimum that it could be shipped with and still work the way it should. Below I have put some release notes for each version (currently only one) and then a Roadmap of where I want to take BibleQuote in the future.

<h2 class="content-heading">Version 0.1</h2>
<ul class="version-release-notes">
    <li>Got Quotes working, people can add new quotes.</li>
    <li>All pages added, fixed most layout/styling bugs.</li>
</ul>
<h3 class="gamma">Known Issues with v0.1</h3>
<ul class="version-release-notes">
    <li>Refresh button is shown on every page, not just the pages where it's required (currently only the homepage).</li>
    <li>Doesn't work very well on mobile devices.</li>
    <li>Edit and Delete buttons are shown for each quotes, regardless of whether you made it or not.</li>
</ul>

<h2 class="content-heading">Roadmap</h2>
<h3 class="gamma">Version 0.2</h3>
<ul class="version-release-notes">
    <li>Add Like button</li>
    <li>Add Categories</li>
    <li>Hide Refresh button so it only shows on pages which require it</li>
</ul>
<h3 class="gamma">Version 0.3</h3>
<ul class="version-release-notes">
    <li>Add switch on New Quote page to switch from Bible Verse to general quote</li>
    <li>Add better Reference picker</li>
</ul>
<h3 class="gamma">Version 0.4</h3>
<ul class="version-release-notes">
    <li>Add user accounts - from here on, all actions (add, like, etc) will be tied to a user account</li>
    <li>If all goes well, this will be the first Beta release - yaaay!</li>
</ul>

<p>Please be aware that during development, the database may need to be wiped, causing all existing quotes to disappear. So don't go adding hundreds because they all might go if necessary (although hopefully it won't be!).</p>
