<div class="hero-entry">
  <h2 class="l-constrained">BibleQuotes is a faith-based social network for posting inpsiring quotes from the Bible or about Christianity to share with people</h2>
</div>
<div class="l-constrained">
  <p>We are currently in a semi-public alpha (the first stage of development), so not all the features have been implemented. Features still to come inlcude:</p>
  <ul>
    <li>'Liking' posts</li>
    <li>Following users</li>
    <li>A way to select a verse from the Bible instead of typing it in</li>
    <li>Making posts 'private'</li>
  </ul>
  <p>In the more distant future, there will be an iOS app, and even more distant, an Android app. To read more about the vision for BibleQuotes, go to the <a href="/development">Development</a> page.</p>
</div>

<%= render @quote %>
