<footer class="site-footer l-constrained">
    <p>Developed by <a class="strong" href="http://tomoakley.me">Tom Oakley</a>. I'd love you forever if you <a class="strong" href="/donate">bought me a cup of coffee</a>!</p>
</footer>
